/* 
 * -----------------------------
 *  Orange Digital Test
 *  (c) Orange Digital
 *	Author: Phil Baker
 *
 *  SWATCH
 *  14417A - blue
 *  CB054B - magenta
 *  EFE7D4 - cream
 *  333333 - dark grey
 * -----------------------------
*/
@import 'includes/vars';
@import 'includes/mixins';
@import 'includes/fonts';
@import 'includes/reset';


/* 
 * -----------------------------
 *  General styles
 * -----------------------------
*/
body { 
	background: #454545;
	color: #454545;
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 62.5%;
	text-align: center;
}

a:link, a:visited, a:hover, a:active { color: #454545; text-decoration: none;}
a:hover { color: #3b4662; text-decoration: underline; }


h1 {
	display: inline-block;

	a {
		display: block;
		width: 96px;
		height: 32px;
		background: url(/assets/img/layout/logo-small.png) 0 0 no-repeat;
		text-indent: -999999em;
	}
}

h2 {
	@include header-style(1.9em);

	display: inline-block;
	margin: 0 0 30px;

	&:before {
		content: url(/assets/img/layout/header-decoration.png);
		margin: -4px 10px 0 0;
		float: left;
		
	}
	&:after {
		content: url(/assets/img/layout/header-decoration-right.png);
		margin: -4px 0 0 10px;
		float: right;
		
	}
}

h3 {
	@include header-style(2em, bold);
	margin: 0 0 25px;
	padding: 22px 0 0 0;
	background: url(/assets/img/layout/line-300.gif) center 0 no-repeat;
}

p { font-size: 1.3em; margin: 0 0 1em 0; }


/* 
 * -----------------------------
 *  Global layout
 * -----------------------------
*/
@import 'includes/navigation';

#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}

#container {
	width: 100%;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	left: 0;
	background: #f3f3f3;
	float: left;
	padding: 0 0 100px;
}

.content {
	width: 100%;
	float: left;
	position: relative;

}

.inner-wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 320px;
	padding: 0 10px;
}

#global-header {
	background: #fff;
	padding: 10px 0;
}

#features {
	margin: 0 0 35px 0;
}

.col {
	width: 100%;
	clear: both;

	img {
		display: inline-block;
		max-width: 300px;
		width: 100%;
	}
}

.col-3 {
	background: url(/assets/img/layout/line-full.gif) center bottom no-repeat;
	padding: 0 0 30px;
	margin: 0 0 30px;
	overflow: hidden;
}

.item img {
	width: 100%;
	margin: 0 auto;
	display: block;
}
/* 
 * -----------------------------
 *  Ad panels
 * -----------------------------
*/

.advertisement {
	position: relative;
	padding: 0 0 8px 0;
	background: url(/assets/img/layout/line-300.gif) center bottom repeat-x;
	margin: 0 0 30px;
}

.caption {
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 8px;
	width: 100%;
	max-width: 300px;
	padding: 1em;
	 p {
	 	color: #fff;
	 	margin: 0 0 0 0;
	 	font-size: 1.4em;
	 	text-transform: uppercase;
	 	text-align: left;
	 }

	 span { display: none;}
}

/* 
 * -----------------------------
 *  Boilerplate & footer
 * -----------------------------
*/
footer {}

#boilerplate {}


/* 
 * -----------------------------
 *  Callout boxes
 * -----------------------------
*/
.infoBox {}

/* 
 * -----------------------------
 *  Form elements
 * -----------------------------
*/
select, input, textarea { 
	font-family: arial, helvetica, verdana, tahoma, sans-serif;
	font-size: 1.2em;
}

label, input, select, textarea { cursor: pointer; }
fieldset { border: none; }
legend { display: none; }


/* 
 * -----------------------------
 *  Media queries
 * -----------------------------
*/
@import 'includes/480';
@import 'includes/850';
@import 'includes/960';
@import 'includes/plugins';