/* 
 * -----------------------------
 *  Orange Digital Test
 *  (c) Orange Digital
 *	Author: Phil Baker
 *
 *  SWATCH
 *  14417A - blue
 *  CB054B - magenta
 *  EFE7D4 - cream
 *  333333 - dark grey
 * -----------------------------
*/
/* 
 * -----------------------------
 *  Custom fonts
 * -----------------------------
*/
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("/fonts/BebasNeue-webfont.eot");
  src: url("/fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/BebasNeue-webfont.woff") format("woff"), url("/fonts/BebasNeue-webfont.ttf") format("truetype"), url("/fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* 
 * -----------------------------
 *  Resets and overides
 * -----------------------------
*/
* {
  margin: 0;
  padding: 0; }

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: none; }

img {
  border: none; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

input[type="submit"], button::-moz-focus-inner {
  border: 0;
  padding: 0; }

::selection {
  background: #323a3d;
  color: #ededed; }

/* Safari and Opera */
::-moz-selection {
  background: #323a3d;
  color: #ededed; }

/* Firefox */
/* 
 * -----------------------------
 *  General styles
 * -----------------------------
*/
body {
  background: #fff;
  color: #333;
  font-family: tahoma, arial, helvetica, verdana, sans-serif;
  font-size: 62.5%; }

a:link, a:visited, a:hover, a:active {
  color: #f1684e; }

a:hover {
  color: #fff;
  background: #1b1b1b; }

h1, h2, h3, h4, h5, h6, cite {
  font-family: 'BebasNeueRegular', verdana, tahoma, arial, sans-serif;
  line-height: 1em;
  font-weight: normal; }

p {
  font-size: 1.3em;
  margin: 0 0 1em 0; }

/* 
 * -----------------------------
 *  Generic layout
 * -----------------------------
*/
/* 
 * -----------------------------
 *  Boilerplate & footer
 * -----------------------------
*/
/* 
 * -----------------------------
 *  Callout boxes
 * -----------------------------
*/
/* 
 * -----------------------------
 *  Form elements
 * -----------------------------
*/
select, input, textarea {
  font-family: arial, helvetica, verdana, tahoma, sans-serif;
  font-size: 1.2em; }

label, input, select, textarea {
  cursor: pointer; }

fieldset {
  border: none; }

legend {
  display: none; }

/* 
 * -----------------------------
 *  Media queries
 * -----------------------------
*/
