/* 
 * -----------------------------
 *  Resets and overides
 * -----------------------------
*/

* { margin: 0; padding: 0; 
	-webkit-text-size-adjust:none; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
}

html { 
	overflow-y: scroll; 

}

img { border: none; }

ol, ul { list-style: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

input[type="submit"], button::-moz-focus-inner { 
	border: 0;
	padding: 0;
}

::selection { background: #323a3d; color: #ededed; } /* Safari and Opera */
::-moz-selection { background: #323a3d; color: #ededed; } /* Firefox */